<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoipSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MoipSDKAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoipSDKResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E3C6A4190ADBBF00D3B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E3C6AB190ADBBF00D3B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E3C6B8190ADBBF00D3B728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E5DE1B190AE7C4004E74C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
